{
    "auth_backends": {
        "predefined": {
            "users": {
                "admin": "$2a$10$iqJSHD.BGr0E2IxQwYgJmeP3NvhPrXAeLSaGCj6IR/XU5QtjVu5Tm"
            }
        }
    },
    "dns_providers": {
      "cloudflare-1": {
        "dns_provider": "cloudflare",
        "token": "CLOUDFLARE AUTH TOKEN"
      },
      "cloudflare-2": {
        "dns_provider": "cloudflare",
        "token": "CLOUDFLARE AUTH TOKEN"
      }
    },
    "update_endpoint": "ddns-update.example.com",
    "hosts": {
        "ddns1.example.com": {
            "dns_provider_id": "cloudflare-1",
            "zoneId": "<optional>",
            "ttl": 60,
            "type": "A"
        },
        "ddns1.example.org": {
            "dns_provider_id": "cloudflare-2",
            "zoneId": "<optional>",
            "ttl": 60,
            "type": "A"
        },
        "ddns1.example.net": {
            "ttl": 60
        }
    }
}
